<div class="content">
    <section class="left">
        <h4 class="logo">Star Shop</h4>

        <div class="form-wrapper">
            <div class="header">
                <h1>Login</h1>
                <h5>Log in with your data that you entered during your registration.</h5>
            </div>

            <form class="form">
                <div class="form__field">
                    <label for="email-input">email</label>
                    <input id="email-input" type="email" placeholder="name@domain.com" />
                </div>
                <div class="form__field">
                    <label for="password-input">password</label>
                    <input id="password-input" type="password" pattern=".{8,}" placeholder="at least 8 characters" />
                </div>
                <button type="button">Login</button>
            </form>

            <h5 class="toggle-auth">Don't have an account? <button>Sign up</button></h5>
        </div>
    </section>

    <section class="right">
        <h3>Keeping the overview</h3>
        <h5>
            In the property overview, owners receive a transparent presentation of all relevant KPIs of the individual
            property objects.
        </h5>
    </section>
</div>
